[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= {{ mysql_port }}
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking

bind-address		= {{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}

log_error = /var/log/mysql/error.log
log_bin                 = /var/log/mysql/mysql-bin
expire_logs_days        = 10
max_binlog_size         = 100M
binlog_do_db			= {{ mysql_db_name }}

{% if inventory_hostname == master_db.name %}
server-id				= {{ master_db.id }}

{% elif inventory_hostname == slave_db.name %}
server-id				= {{ slave_db.id }}
relay-log				= /var/log/mysql/mysql-relay-bin.log
{% endif %}